# Documenation: groc
# ------------------

default:

  deps: ['cson:transpile:groc:config']

  title: 'Documentation of “src” files'

  defaults :
    _ : './.groc.json'
    'repository-url': 'https://github.com/sjorek/goatee-rules.js'
    #out: 'doc'
    ##silent: false
    ##verbose: true
    #languages: './src/misc/groc/languages'

  assets : [
    ## doc: [
    ##   [
    ##     'src/**/*.coffee'
    ##     'src/**/*.cson'
    ##     'lib/**/*.js'
    ##     'lib/**/*.json'
    ##     # 'Cakefile'
    ##     'gulpfile.coffee'
    ##     'gulpfile.js'
    ##     'README.md'
    ##   ]
    ## ]
    'doc': []
  ]

  clean: [
    'doc/**/*'
  ]

  # watch: true

  logger:
    before: 'Start creating documentation of source files …'
    after: 'Documentation of source files created.'
    extname: '.html'
    showChange: true

github:

  title: 'Publish documentation of “src” files to github'

  defaults :
    _ : './.groc.json'
    #out: 'doc'
    ##silent: true
    ##verbose: true
    #languages: './src/misc/groc/languages'
    github: true

  assets : [
    ## 'doc': [
    ##   [
    ##     'src/**/*.coffee'
    ##     'src/**/*.cson'
    ##     'README.md'
    ##   ]
    ## ]
    'doc': []
  ]


  # clean: [
  #   'doc/**/*'
  # ]

  # watch: true

  logger:
    before: 'Start publishing documentation of source files to github …'
    after: 'Published documentation of source files to github.'
    extname: '.html'
    showChange: true

  queue: 'publish'
